  <table class="node_summary">

    <tr class='unresponsive'>
      <td class='count_column'><span class='count'><%= @report[:reports_missing] %></span></td>
      <td>
		<div>
			<p class="label">
				<span><%= 'Unresponsive' %></span>
			</p>
			<p class="percent" style="width: <%= @perc_unresponsive %>">
				<span><%= 'Unresponsive' %></span>
			</p>
		</div>
	  </td>
	</tr>

    <tr class='failed'>
      <td class='count_column'><span class='count'><%= @report[:bad_hosts_enabled] %></span></td>
      <td>
		<div>
			<p class="label">
				<span><%= 'Failed' %></span>
			</p>
			<p class="percent" style="width: <%= @perc_failed %>">
				<span><%= 'Failed' %></span>
			</p>
		</div>
	  </td>
    </tr>
    <tr class='pending'>
      <td class='count_column'><span class='count'><%= @report[:pending_hosts_enabled] %></span></td>
      <td>
		<div>
			<p class="label">
				<span><%= 'No-op' %></span>
			</p>
			<p class="percent" style="width: <%= @perc_pending %>">
				<span><%= 'No-op' %></span>
			</p>
		</div>
	  </td>
    </tr>

    <tr class='changed'>
      <td class='count_column'><span class='count'><%= @report[:active_hosts_ok_enabled] %></span></td>
      <td>
		<div>
			<p class="label">
				<span><%= 'Changed' %></span>
			</p>
			<p class="percent" style="width: <%= @perc_changed %>">
				<span><%= 'Changed' %></span>
			</p>
		</div>
	  </td>
    </tr>

    <tr class='unchanged'>
      <td class='count_column'><span class='count'><%= @report[:ok_hosts_enabled] %></span></td>
      <td>
		<div>
			<p class="label">
				<span><%= 'Unchanged' %></span>
			</p>
			<p class="percent" style="width: <%= @perc_unchanged %>">
				<span><%= 'Unchanged' %></span>
			</p>
		</div>
	  </td>
    </tr>

    <tr class='unreported'>
      <td class='count'><span class='count'><%= @report[:out_of_sync_hosts_enabled] %></span></td>
      <td>
		<div>
			<p class="label">
				<span><%= 'Unreported' %></span>
			</p>
			<p class="percent" style="width: <%= @perc_unreported %>">
				<span><%= 'Unreported' %></span>
			</p>
		</div>
	  </td>
    </tr>

    <tr class='total'>
      <td class='count_column'><span class='count'><%= @report[:total_hosts] %></span></td>
      <td>
		<div>
			<p class="label">
				<span><%= 'Total' %></span>
			</p>
			<p class="percent">
				<span><%= 'Total' %></span>
			</p>
		</div>
	  </td>
    </tr>

</table>
